<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <link rel="icon" href="../../static/img/favicon.ico" type="image/x-icon">
    <title>RESTfull app. Task 3.1.3</title>
</head>
<body>
<div id="container">

    <!--  Менюшка-->

    <nav class="navbar navbar-light bg-dark mb-2">
        <div class="container-fluid">
            <div class="navbar-brand inline text-white">
                <a class="navbar-brand text-white" href="/">Task 3.1.3</a>
                <b th:text="${signedUser.getUsername()}">name</b>
                with roles:
                <b class="font-weight-normal" th:text="${signedUser.getAuthorities()}">role</b>
            </div>
            <div>
                <a href="/logout" class="text-white-50">Logout</a>
            </div>
        </div>
    </nav>

    <!--  Панель приложения-->

    <div id="applicationPane" class="container-fluid">
        <div class="row">
            <div id="navigationPane"
                 class="flex-column align-items-start col-md-2 bg-light">
                <div class="nav flex-column nav-pills me-3"
                     id="v-pills-tab"
                     role="tablist"
                     aria-orientation="vertical">
                    <button sec:authorize="hasRole('ADMIN')"
                            class="nav-link active"
                            id="v-pills-admin-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-admin"
                            type="button"
                            role="tab"
                            aria-controls="v-pills-admin"
                            aria-selected="true">Admin
                    </button>
                    <button class="current-user-profile-btn nav-link"
                            id="v-pills-profile-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-user"
                            type="button"
                            role="tab"
                            aria-controls="v-pills-user"
                            aria-selected="false">User
                    </button>
                </div>
            </div>

            <!--        Область контента-->

            <div id="contentPane"
                 class="tab-content col-md-10 bg-light">

                <!--        Панель администратора-->

                <div id="v-pills-admin"
                     sec:authorize="hasRole('ADMIN')"
                     class="tab-pane fadeshow active"
                     role="tabpanel"
                     aria-labelledby="adminContentPane">
                    <div id="adminContentPane" class="tab-content">
                        <h1 class="h2">Admin panel</h1>
                        <nav>
                            <div class="nav nav-tabs" id="admin-nav-tab"
                                 role="tablist">
                                <button class="nav-link active"
                                        id="adminTabContentAllUsers"
                                        data-bs-toggle="tab"
                                        data-bs-target="#tab-pane-allusers"
                                        type="button"
                                        role="tab"
                                        aria-controls="allUsers"
                                        aria-selected="true">Users table
                                </button>
                                <button class="adminTabContentNewUserBtn nav-link"
                                        id="adminTabContentNewUser"
                                        data-bs-toggle="tab"
                                        data-bs-target="#tab-pane-newuser"
                                        type="button"
                                        role="tab"
                                        aria-controls="addNewUser"
                                        aria-selected="false">New user
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content"
                             id="adminTab">

                            <!-- Панель вывода всех пользователей-->

                            <div class="tab-pane fade show active"
                                 id="tab-pane-allusers"
                                 role="tabpanel"
                                 aria-labelledby="adminTabContentAllUsers">

                                <div class="card">
                                    <h4 class="card-header">All users</h4>
                                    <div class="card-body text-center">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <td>ID</td>
                                                <td>Firstname</td>
                                                <td>Lastname</td>
                                                <td>Age</td>
                                                <td>email</td>
                                                <td>Role</td>
                                                <td>Edit</td>
                                                <td>Delete</td>
                                            </tr>
                                            </thead>
                                            <tbody id="allUsersTable">

                                            </tbody>

                                            <!-- Модальные окна -->

                                            <!-- Модальное окно редактирования-->

                                            <div class="modal fade"
                                                 id="editModal"
                                                 data-bs-backdrop="static"
                                                 data-bs-keyboard="false"
                                                 tabindex="-1"
                                                 aria-labelledby="editModalLabel"
                                                 aria-hidden="true">

                                                <div id="editModalContent">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">
                                                                    Edit user
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div id="modalEditCont" class="modal-body">
                                                                <div align="center">
                                                                    <form id="editModalForm">
                                                                        <div class="mb-3">
                                                                            <label for="user_idEditModal"
                                                                                   class="form-label">ID</label>
                                                                            <input type="text"
                                                                                   id="user_idEditModal"
                                                                                   class="form-control w-50 p-3 justify-content-center"
                                                                                   readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="firstnameEditModal"
                                                                                   class="form-label">First
                                                                                name</label>
                                                                            <input type="text"
                                                                                   id="firstnameEditModal"
                                                                                   class="form-control w-50 p-3 justify-content-center">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="lastnameEditModal"
                                                                                   class="form-label">Last
                                                                                name</label>
                                                                            <input type="text"
                                                                                   class="form-control w-50 p-3 align-self-center"
                                                                                   id="lastnameEditModal">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="ageEditModal"
                                                                                   class="form-label">Age</label>
                                                                            <input type="number"
                                                                                   value="18"
                                                                                   min="18"
                                                                                   max="150"
                                                                                   class="form-control align-self-center w-50 p-3"
                                                                                   id="ageEditModal">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="emailEditModal"
                                                                                   class="form-label">Email</label>
                                                                            <input type="text"
                                                                                   class="form-control w-50 p-3 align-self-center"
                                                                                   id="emailEditModal">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="passwordEditModal"
                                                                                   class="form-label">Password</label>
                                                                            <input type="password"
                                                                                   class="form-control w-50 p-3"
                                                                                   id="passwordEditModal">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="editUserRolesEditModal">Assigned
                                                                                roles</label>
                                                                            <select multiple
                                                                                    class="form-control  w-50 p-3"
                                                                                    name="editUserRolesEditModal[]"
                                                                                    id="editUserRolesEditModal">

                                                                            </select>
                                                                        </div>
                                                                        </br>
                                                                        <button type="button"
                                                                                class="btn btn-primary"
                                                                                data-bs-dismiss="modal">
                                                                            Close
                                                                        </button>
                                                                        <button type="submit"
                                                                                class="btn btn-danger">
                                                                            UPDATE
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Модальное окно удаления-->

                                            <div class="modal fade"
                                                 id="deleteModal"
                                                 data-bs-backdrop="static"
                                                 data-bs-keyboard="false"
                                                 tabindex="-1"
                                                 aria-labelledby="deleteModalModalLabel"
                                                 aria-hidden="true">
                                                <div id="deleteModalContent">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title"
                                                                    id="editModalLabel">Delete user
                                                                </h5>
                                                                <button type="button"
                                                                        class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close">
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div align="center">
                                                                    <form id="deleteModalForm">
                                                                        <div class="mb-3">
                                                                            <label for="user_idDeleteModal"
                                                                                   class="form-label">ID</label>
                                                                            <input type="text"
                                                                                   id="user_idDeleteModal"
                                                                                   class="form-control  w-50 p-3"
                                                                                   readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="firstnameDeleteModal"
                                                                                   class="form-label">
                                                                                First name</label>
                                                                            <input type="text"
                                                                                   id="firstnameDeleteModal"
                                                                                   class="form-control w-50 p-3"
                                                                                   readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="lastnameDeleteModal"
                                                                                   class="form-label">
                                                                                Last name</label>
                                                                            <input type="text"
                                                                                   class="form-control w-50 p-3"
                                                                                   id="lastnameDeleteModal"
                                                                                   readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="ageDeleteModal"
                                                                                   class="form-label">
                                                                                Age</label>
                                                                            <input type="number"
                                                                                   class="form-control w-50 p-3"
                                                                                   id="ageDeleteModal"
                                                                                   readonly>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="emailDeleteModal"
                                                                                   class="form-label">
                                                                                Email</label>
                                                                            <input type="text"
                                                                                   class="form-control w-50 p-3"
                                                                                   id="emailDeleteModal"
                                                                                   readonly>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="userRolesSelectDeleteModal">Assigned
                                                                                roles</label>
                                                                            <select multiple
                                                                                    class="form-control w-50 p-3"
                                                                                    id="userRolesSelectDeleteModal"
                                                                                    readonly>

                                                                            </select>
                                                                        </div>
                                                                        </br>
                                                                        <button type="button"
                                                                                class="btn btn-primary"
                                                                                data-bs-dismiss="modal">
                                                                            Close
                                                                        </button>
                                                                        <button type="submit"
                                                                                class="btn btn-danger">
                                                                            DELETE
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Панель создания нового пользователя-->

                            <div class="tab-pane fade"
                                 id="tab-pane-newuser"
                                 role="tabpanel"
                                 aria-labelledby="adminTabContentNewUser">

                                <div class="card">
                                    <h4 class="card-header">New user</h4>
                                    <div class="card-body text-center">
                                        <div align="center">
                                            <form id="newUserForm">
                                                <div class="mb-3">
                                                    <label for="firstname"
                                                           class="form-label">
                                                        First name</label>
                                                    <input type="text"
                                                           id="firstname"
                                                           class="form-control w-50 p-3"
                                                           placeholder="John">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="lastname"
                                                           class="form-label">
                                                        Last name</label>
                                                    <input type="text"
                                                           class="form-control w-50 p-3"
                                                           id="lastname"
                                                           placeholder="Doe">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="age"
                                                           class="form-label">
                                                        Age</label>
                                                    <input type="number"
                                                           value="18" min="18" max="150"
                                                           class="form-control w-50 p-3"
                                                           id="age">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="email"
                                                           class="form-label">
                                                        Email</label>
                                                    <input type="text"
                                                           class="form-control w-50 p-3"
                                                           id="email"
                                                           placeholder="john.doe@examplemail.com">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="password"
                                                           class="form-label">
                                                        Password</label>
                                                    <input type="password"
                                                           class="form-control w-50 p-3"
                                                           id="password"
                                                           placeholder="Put your password here">
                                                </div>
                                                <div class="form-group">
                                                    <label for="newUserRoles">Assign roles</label>
                                                    <select multiple
                                                            class="form-control w-50 p-3"
                                                            name="newUserRoles[]"
                                                            id="newUserRoles">

                                                    </select>
                                                </div>
                                                </br>
                                                <button type="submit"
                                                        class="createNewUserBtn btn btn-primary">
                                                    Add new user
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--        Панель текущего пользователя-->

                <div id="v-pills-user"
                     class="tab-pane fade"
                     role="tabpanel"
                     aria-labelledby="userContentPane">
                    <div id="userContentPane" class="tab-content">
                        <div id="userInfoTab">
                            <h1 class="h2">User information page</h1>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="userInfo">
                                    <div class="card">
                                        <h4 class="card-header">User info</h4>
                                        <div class="card-body text-center">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <td>ID</td>
                                                    <td>Firstname</td>
                                                    <td>Lastname</td>
                                                    <td>Age</td>
                                                    <td>email</td>
                                                    <td>Role</td>
                                                </tr>
                                                </thead>
                                                <tr>
                                                    <td id="currentUserID">ID</td>
                                                    <td id="currentUserFirstname">name</td>
                                                    <td id="currentUserLastname">lastname</td>
                                                    <td id="currentUserAge">Age</td>
                                                    <td id="currentUserEmail">email</td>
                                                    <td id="currentUserRoles">Roles</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Делаем все в одной функции, чтобы управлять асинхронностью.
    (async () => {

        //Адреса контроллеров.
        const url = 'http://localhost:8080';
        const getUsersUrl = '/show-users';
        const postNewUser = '/create-user';
        const deleteUserUrl = '/delete-user/';
        const putUserUrl = '/update-user';

        const getAllRolesUrl = '/all-roles';
        const getCurrentUserUrl = '/current-user';

        //Глобальные переменные
        const allUsers = new Map();
        const allRoles = new Map();
        let currentUser;

        let idUserToBeEdited;
        let idUserToBeDeleted;
        let firstname;
        let lastname;
        let age;
        let email;
        let pass;
        let roles = [];

        //Таблица вывода всех юзеров
        const table = document.getElementById('allUsersTable');

        //Элементы формы текущего юзера
        const currentUserId = document.getElementById('currentUserID');
        const currentUserFirstname = document.getElementById('currentUserFirstname');
        const currentUserLastname = document.getElementById('currentUserLastname');
        const currentUserAge = document.getElementById('currentUserAge');
        const currentUserEmail = document.getElementById('currentUserEmail');
        const currentUserRoles = document.getElementById('currentUserRoles');

        //Элементы формы создания нового юзера
        const newUserForm = document.getElementById('newUserForm');
        const newUserFirstname = document.getElementById('firstname');
        const newUserLastname = document.getElementById('lastname');
        const newUserAge = document.getElementById('age');
        const newUserEmail = document.getElementById('email');
        const newUserPass = document.getElementById('password');
        const newUserRoles = document.getElementById('newUserRoles');

        //Элементы формы редактирования юзера
        const editModalWindow = new bootstrap.Modal(document.getElementById('editModal'));
        const editModalForm = document.getElementById('editModalForm');
        const user_idEditModal = document.getElementById('user_idEditModal');
        const firstnameEditModal = document.getElementById('firstnameEditModal');
        const lastnameEditModal = document.getElementById('lastnameEditModal');
        const ageEditModal = document.getElementById('ageEditModal');
        const emailEditModal = document.getElementById('emailEditModal');
        const passEditModal = document.getElementById('passwordEditModal');
        const rolesEditModal = document.getElementById('editUserRolesEditModal');

        //Элементы формы удаления юзера
        const deleteModalWindow = new bootstrap.Modal(document.getElementById('deleteModal'));
        const deleteModalForm = document.getElementById('deleteModalForm');
        const user_idDeleteModal = document.getElementById('user_idDeleteModal');
        const firstnameDeleteModal = document.getElementById('firstnameDeleteModal');
        const lastnameDeleteModal = document.getElementById('lastnameDeleteModal');
        const ageDeleteModal = document.getElementById('ageDeleteModal');
        const emailDeleteModal = document.getElementById('emailDeleteModal');
        const passDeleteModal = document.getElementById('passwordEditModal');
        const rolesDeleteModal = document.getElementById('userRolesSelectDeleteModal');

        //Вкладки панели администратора
        const adminContentAllUsersBtn = document.getElementById("adminTabContentAllUsers");
        const adminContentNewUserBtn = document.getElementById("adminTabContentNewUser");
        const adminContentAllUsersTab = document.getElementById("tab-pane-allusers");
        const adminContentNewUserTab = document.getElementById("tab-pane-newuser");

        //Keширование данных: юзеры, доступные роли, текущий пользователь
        const cacheUsers = async () => {
            const res = await fetch(url + getUsersUrl);
            let json = await res.json();

            for (let key in json) {
                allUsers.set(json[key].user_id, json[key]);
            }
        };
        const cacheRoles = async () => {
            const res = await fetch(url + getAllRolesUrl);
            let json = await res.json();

            for (let key in json) {
                allRoles.set(json[key].role_id, json[key]);
            }
        };
        const cacheCurrentUser = async () => {
            const res = await fetch(url + getCurrentUserUrl);
            currentUser = await res.json();
        };

        await cacheUsers();
        await cacheRoles();
        await cacheCurrentUser();

        //Получение ролей юзера
        const getUserRoles = (user) => {
            let roles = [];
            for (let authority of user.authorities) {
                roles.push(authority.role);
            }
            return roles;
        };

        //Обработка выбранных ролей мультисписка
        const getSelectedRoles = (selectorId) => {
            const selector = document.getElementById(selectorId);
            const newRoles = [];
            for (let i = 0; i < selector.options.length; i++) {
                if (selector.options[i].selected === true) {
                    newRoles.push(selector.options[i].value);
                }
            }
            return newRoles;
        };

        // Построение таблицы юзеров
        const showAllUsers = async () => {

            table.innerHTML = '';
            for (let val of allUsers.values()) {
                let row = '<tr id="user' + val.user_id + '_record">' +
                    '<td id="user_' + val.user_id + '">' + val.user_id + '</td>' +
                    '<td id="user' + val.user_id + '_Firstname">' + val.firstname + '</td>' +
                    '<td id="user' + val.user_id + '_Lastname">' + val.lastname + '</td>' +
                    '<td id="user' + val.user_id + '_Age">' + val.age + '</td>' +
                    '<td id="user' + val.user_id + '_Email">' + val.email + '</td>' +
                    '<td id="user' + val.user_id + '_roles">' + getUserRoles(val).join(' ') + '</td>' +
                    '<td><a class="editButton btn btn-primary" data-toggle="modal" data-target="#editModalContent">Edit</a></td>' +
                    '<td><a class="deleteButton btn btn-danger" data-toggle="modal" data-target="#deleteModalContent">Delete</a></td>' +
                    '</tr>';
                table.innerHTML += row;
            }
        };

        await showAllUsers();

        //Обновлние добавления нового юзера на лету.
        const addNewUserIntoTable = async () => {

            await cacheUsers();
            let keys = Array.from(allUsers.keys(), (k) => Number(k));
            let lastAddedId = Math.max.apply(null, keys);
            let row = '<tr id="user' + lastAddedId + '_record">' +
                '<td id="user_' + lastAddedId + '">' + lastAddedId + '</td>' +
                '<td id="user' + lastAddedId + '_Firstname">' + allUsers.get(lastAddedId).firstname + '</td>' +
                '<td id="user' + lastAddedId + '_Lastname">' + allUsers.get(lastAddedId).lastname + '</td>' +
                '<td id="user' + lastAddedId + '_Age">' + allUsers.get(lastAddedId).age + '</td>' +
                '<td id="user' + lastAddedId + '_Email">' + allUsers.get(lastAddedId).email + '</td>' +
                '<td id="user' + lastAddedId + '_roles">' + getUserRoles(allUsers.get(lastAddedId)).join(' ') + '</td>' +
                '<td><a class="editButton btn btn-primary" data-toggle="modal" data-target="#editModalContent">Edit</a></td>' +
                '<td><a class="deleteButton btn btn-danger" data-toggle="modal" data-target="#deleteModalContent">Delete</a></td>' +
                '</tr>';
            table.innerHTML += row;
        };

        //Обновление редактирования пользователя на лету
        const updateUserInfoIntoTable = async (id) => {

            await cacheUsers();

            document.getElementById('user' + id + '_Firstname').textContent = allUsers.get(Number(id)).firstname;
            document.getElementById('user' + id + '_Lastname').textContent = allUsers.get(Number(id)).lastname;
            document.getElementById('user' + id + '_Age').textContent = allUsers.get(Number(id)).age;
            document.getElementById('user' + id + '_Email').textContent = allUsers.get(Number(id)).email;
            document.getElementById('user' + id + '_roles').textContent = getUserRoles(allUsers.get(Number(id))).join(' ');
        };

        //Обновление удаления пользователя на лету
        const deleteUserInfoFromTable = async (id) => {
            await cacheUsers();
            document.getElementById('user' + id + '_record').remove();
        };

        //Добавление слушателя на элементы
        const on = (element, event, elementClass, handler) => {
            element.addEventListener(event, e => {
                if (e.target.closest(elementClass)) {
                    handler(e);
                }
            });
        };

        //Отображение профиля текущего пользователя
        on(document, 'click', ".current-user-profile-btn", e => {
            currentUserId.innerHTML = '<p>' + currentUser.user_id + '</p>';
            currentUserFirstname.innerHTML = '<p>' + currentUser.firstname + '</p>';
            currentUserLastname.innerHTML = '<p>' + currentUser.lastname + '</p>';
            currentUserAge.innerHTML = '<p>' + currentUser.age + '</p>';
            currentUserEmail.innerHTML = '<p>' + currentUser.email + '</p>';
            currentUserRoles.innerHTML = '<p>' + getUserRoles(currentUser).join(' ') + '</p>';
        });

        //Добавление нового юзера
        on(document, 'click', ".createNewUserBtn", e => {
            firstname = newUserFirstname.value;
            lastname = newUserLastname.value;
            age = newUserAge.value;
            email = newUserEmail.value;
            pass = newUserPass.value;
        });

        on(document, 'click', ".adminTabContentNewUserBtn", e => {
            newUserRoles.innerHTML = '';
            for (let option of allRoles.values()) {
                newUserRoles.innerHTML += '<option>' + option.role + '</option>';
            }
        });

        newUserForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            await fetch(url + postNewUser, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    firstname: firstname,
                    lastname: lastname,
                    age: age,
                    email: email,
                    password: pass,
                    roles: getSelectedRoles('newUserRoles')
                })
            });
            await addNewUserIntoTable();
            activeAllUsersTab();
        });

        const activeAllUsersTab = () => {
            adminContentNewUserBtn.classList.remove("active");
            adminContentAllUsersBtn.classList.add("active");
            adminContentNewUserTab.className = "tab-pane fade";
            adminContentAllUsersTab.className = "tab-pane fade show active";
        };

        //Редактирование юзера
        on(document, 'click', ".editButton", e => {
            idUserToBeEdited = e.target.parentNode.parentNode.firstChild.innerHTML;
            firstname = e.target.parentNode.parentNode.children[1].innerHTML;
            lastname = e.target.parentNode.parentNode.children[2].innerHTML;
            age = e.target.parentNode.parentNode.children[3].innerHTML;
            email = e.target.parentNode.parentNode.children[4].innerHTML;
            pass = allUsers.get(Number(idUserToBeEdited)).password;

            user_idEditModal.value = idUserToBeEdited;
            firstnameEditModal.value = firstname;
            lastnameEditModal.value = lastname;
            ageEditModal.value = age;
            emailEditModal.value = email;
            passEditModal.value = pass;

            rolesEditModal.innerHTML = '';
            for (let option of allRoles.values()) {
                rolesEditModal.innerHTML += '<option>' + option.role + '</option>';
            }

            editModalWindow.show();
        });

        editModalForm.addEventListener('submit', async (e) => {
            e.preventDefault();

            roles = getSelectedRoles('editUserRolesEditModal');

            await fetch(url + putUserUrl, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    user_id: user_idEditModal.value,
                    firstname: firstnameEditModal.value,
                    lastname: lastnameEditModal.value,
                    age: ageEditModal.value,
                    email: emailEditModal.value,
                    password: passEditModal.value,
                    roles: roles
                })
            });

            await updateUserInfoIntoTable(user_idEditModal.value);
            editModalWindow.hide();
        });

        //Удаление юзера
        on(document, 'click', ".deleteButton", e => {
            idUserToBeDeleted = e.target.parentNode.parentNode.firstChild.innerHTML;
            firstname = e.target.parentNode.parentNode.children[1].innerHTML;
            lastname = e.target.parentNode.parentNode.children[2].innerHTML;
            age = e.target.parentNode.parentNode.children[3].innerHTML;
            email = e.target.parentNode.parentNode.children[4].innerHTML;
            pass = allUsers.get(Number(idUserToBeDeleted)).password;
            roles = getUserRoles(allUsers.get(Number(idUserToBeDeleted)));

            user_idDeleteModal.value = idUserToBeDeleted;
            firstnameDeleteModal.value = firstname;
            lastnameDeleteModal.value = lastname;
            ageDeleteModal.value = age;
            emailDeleteModal.value = email;
            passDeleteModal.value = pass;

            rolesDeleteModal.innerHTML = '';
            for (let option of roles) {
                rolesDeleteModal.innerHTML += '<option>' + option + '</option>';
            }

            deleteModalWindow.show();

        });

        deleteModalForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            await fetch(url + deleteUserUrl + idUserToBeDeleted, {
                method: 'DELETE'
            });
            await deleteUserInfoFromTable(idUserToBeDeleted);
            deleteModalWindow.hide();
        });
    })();
</script>
</body>
</html>
